.photo {
  border-radius: 6px;
  padding: 3px;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  max-height: 100px;
  max-width: 100px;
  &--small {
    max-height: 30px;
    max-width: 30px;
  }
}